/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-gradient: linear-gradient(to right, #4F00C0, #00F2EA);
}

.text-gradient {
  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
