/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Define our custom gradient as a CSS variable */
:root {
  --brand-gradient: linear-gradient(to right, #B84B1F, #D16A3E);
}

/* 2. Use that variable in our .text-gradient class */
.text-gradient {
  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
